@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Avenir", Arial, Helvetica, sans-serif; /* Updated to use Avenir */
  background-color: #f2f4fc;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --ae--primary-50: #f2f4fc;
    --ae--primary-100: #e1e7f8;
    --ae--primary-200: #cad6f3;
    --ae--primary-300: #a6bcea;
    --ae--primary-400: #7c99de;
    --ae--primary-500: #5d78d4;
    --ae--primary-600: #5467cb;
    --ae--primary-700: #3f4cb6;
    --ae--primary-800: #384095;
    --ae--primary-900: #313877;
    --ae--primary-950: #222549;
    --ae--secondary-50: #f0fbfb;
    --ae--secondary-100: #d9f4f4;
    --ae--secondary-200: #b7e8ea;
    --ae--secondary-300: #6ccdd3;
    --ae--secondary-400: #4cbbc4;
    --ae--secondary-500: #319fa9;
    --ae--secondary-600: #2b818f;
    --ae--secondary-700: #296975;
    --ae--secondary-800: #295761;
    --ae--secondary-900: #264a53;
    --ae--secondary-950: #143038;
    --ae--neutral-50: #f6f5f5;
    --ae--neutral-100: #f0eeee;
    --ae--neutral-200: #dddada;
    --ae--neutral-300: #c0b9ba;
    --ae--neutral-400: #9d9394;
    --ae--neutral-500: #817677;
    --ae--neutral-600: #6a5f5f;
    --ae--neutral-700: #564e4e;
    --ae--neutral-800: #494343;
    --ae--neutral-900: #403a3a;
    --ae--neutral-950: #2a2727;
    --ae--full-red-color: #a83926;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
