name: CI/CD
on:
  push:
    branches-ignore:
      - "dependabot/**"
    paths-ignore:
      - ".gitignore"
      - ".mergify.yml"
      - "CHANGELOG.md"
      - "LICENSE"
      - "README.md"
      - "renovate.json"
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # all history

      - name: Restore Dependencies
        run: npm install

      - name: Test Build
        run: npm run build

  deploy:
    name: Deploy
    needs:
      - check
    if: github.ref == 'refs/heads/main' && github.repository_owner == 'aequitas-aod' && github.event_name == 'push'
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
